html, body {color:#000;background: #000;}

a, a:link, a:active, a:visited {text-decoration: none;color:#000;outline: 0;
}
a:hover {
  text-decoration: underline;
}
a:focus {
	outline: 0;
}
.container {
  width: 710px;
}

h1 { font-family:Helvetica, Arial, Sans-serif; font-size:32px; font-style:italic; color:#999; font-weight:bold; }

header {
	margin-bottom:10px;;
  margin-top: 20px;
}

#logo {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}

section h1 {
  font-size: 200%;
}

#loginForm {
	padding:0px 20px 20px 20px;
	border-bottom:1px solid #e3e3e3;
	text-align:center;
}

#signupForm {
	padding:0px 20px 0px 20px;
	text-align:center;
}

.loginLabel {
	 text-align:left;
	 padding-left:165px
}

#signupButton {
	margin-top:60px;
}


/* errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Navigation */

header nav {
	margin-top:5px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;	
  float: right;
}

nav {
  background-color: #fff;
  padding: 0 0.7em;
  white-space: nowrap;
}

footer nav {
  background-color: #000;
}

footer nav li a, footer nav li a:active, footer nav li a:link, footer nav li a:hover, footer nav li a:visited {
  color:#fff;
  font-weight: normal;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.mask{position:absolute;height:100%;width:100%;opacity:0.6;background-color:#000;display:none;}


.maskShow {
	position:absolute;
	height:100%;
	width:100%;
	opacity:0.6;
	background-color:#000;
	z-index:9999;
}

#passwordRequest {
	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	
	color:#fff;
	font-size:18px;
	display:none;
	width:650px;
	height:240px;
	position:absolute;
	background-color:#333;
	z-index:10000;
	text-align:center;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#decrypt {
	padding:10px;
}

#mainContent {
	padding-bottom:60px;
}

#footerContainer {
	padding:10px;
	background:#000;
	text-align:center;
}

/* Content tables */

.credsTableWrapper {
	margin:10px;
	font-family:Helvetica, Arial, Sans-serif;
	color:#000;
}

.credsTableHeader {
	border-bottom:solid 1px #ccc;
}

.credsTableHeaderCol {
	float:left;
	width:200px;
	padding:5px;
	font-weight:bold;
}

.credsTableContent {
}

.credsTableRowWrapper {
	border-bottom:dotted 1px #e3e3e3;
}

.credsTableRowCol {
	float:left;
	width:200px;
	padding:10px 5px 5px 5px;
}

.credsTableRowCol a {
	display:inline-block;
	color:#ccc;
	padding:3px 5px 1px 5px;
	width:auto;
}

.credsTableRowCol a:hover {
	display:inline-block;
	color:#666;
	background-color:#ccc;
	padding:3px 5px 1px 5px;
	text-decoration:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* UI Button */

.uiButton a, .uiButton a:link, .uiButton a:active, .uiButton a:visited {
	display:inline-block;
	background-color:#00B800;
	padding:6px 10px 3px 10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color:#fff;
	font-size:18px;
}

.uiButton a:hover {
	background-color:#00B800;
	background: -moz-linear-gradient(top, #00e300, #00B800);
	background: -webkit-gradient(linear, left top, left bottom, from(#00e300), to(#00B800));
	text-decoration:none;
}

.newCredentialButton {
	padding-top:15px;
}

.blueButton a, .blueButton a:link, .blueButton a:visited, .blueButton a:active {
	background-color:#0072e7;
	color:#fff;
}

.blueButton a:hover {
	background-color:#0072e7;
	background: -moz-linear-gradient(top, #007eff, #0072e7);
	background: -webkit-gradient(linear, left top, left bottom, from(#007eff), to(#0072e7));
}


input.btn {
	cursor:pointer;
	border:0px;
	display:inline-block;
	background-color:#00B800;
	padding:5px 10px 5px 10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color:#fff;
	font-size:18px;
}

input.btnhov{
	border:0px;
	display:inline-block;
	background-color:#00CC00;
	background: -moz-linear-gradient(top, #00CC00, #00B800);
	background: -webkit-gradient(linear, left top, left bottom, from(#00CC00), to(#00B800));
	padding:5px 10px 5px 10px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color:#fff;
	font-size:18px;
	text-decoration:none;
}

input.textField {
	padding:5px;
	border:1px solid #ccc;
	font-size:16px;
	width:300px;
	margin-left:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.closeButton, .closeButton:active, .closeButton:link, .closeButton:visited {
  float:right;
	margin-top:-10px;
	margin-right:-10px;
	display:inline-block;
	background-color:#333;
	padding:1px 10px 3px 10px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border:3px solid #fff;
	color:#fff;
	font-size:18px;
}
.closeButton:hover {
	background-color:#CC0000;
	text-decoration:none;
}