<h1>About</h1>
<p>loboto.me is a credential repository that allows users to store all of their usernames and passwords securely in one place. All passwords are only stored in encrypted form, so even we cannot read them. There is no recovering forgotten passwords, since your loboto.me account password is the crucial part of the decryption key for your stored credential passwords.</p>
