<h1>Help</h1>
<div class="staticText">
	<div class="question">How do I get started?</div>
	<div>&bull;&nbsp;To use loboto.me you must create an account <%=link_to "here",signup_url -%>.</div>
</div>
<br />
<div class="staticText">
	<div class="question">How do I add credentials?</div>
	<div>&bull;&nbsp;To add credentials, first sign in <%=link_to "here",signin_url -%>.</div>
	<div>&bull;&nbsp;After signing in, click on the green button that reads 'New Credential'.</div>
	<div>&bull;&nbsp;Fill in the form with your new credential's information and click on the green button that reads 'Add Credential'.</div>
</div>
<br />
<div class="staticText">
	<div class="question">How do I edit credentials?</div>
	<div>&bull;&nbsp;Credentials cannot be edited. Delete credentials you no longer want and create new ones with the correct values.</div>
</div>
<br />
<div class="staticText">
	<div class="question">How do I delete credentials?</div>
	<div>&bull;&nbsp;Go to the credential's page and click on the red button that reads 'Delete Credential'.</div>
</div>
<br />
<div class="staticText">
	<div class="question">I forgot my loboto.me password. How can I recover it?</div>
	<div>&bull;&nbsp;There is nothing you can do to recover access yo your account if you forgot your loboto.me password. Only encrypted versions of your passwords are stored.</div>
</div>
<br />
<div class="staticText">
	<div class="question">What if I have more questions?</div>
		<div>&bull;&nbsp;Please send any questions through the contact link. We will do our best to answer them promptly.</div>	
</div>