<div class="staticText">
	<div class="bigText">
		1.Submit it.<br />
		2.Encrypt it.<br />
		3.Forget it.
	</div>
	<br />
	<div id="slogan"><span id="sloganTitle">loboto.me</span>: smart and secure credential storage.</div>
</div>
