<div class="staticText">
	<div class="bigText">
		<%=link_to "1.Sign up", signup_url -%><br />
		2.Submit<br />
		3.Encrypt
	</div>
	<br />
	<div id="slogan"><span id="sloganTitle">loboto.me</span>: smart and secure credential storage.</div>
</div>
