<h1>Terms</h1>
<div class="staticText">
	By using loboto.me, you signify that you have read, understand and agree to be bound by these Terms and conditions.
	
	loboto.me is concerned about the safety and privacy of all its Users, especially children. Therefore, children under the age of 13 are not permitted to use loboto.me. 
		
	We reserve the right to ban any individual uploader or website domain from using our servies for any reason. 

	We cannot be held liable for any damages. All data, messages, comments, text, or other materials ("Content"), are the sole responsibility of the person from whom such Content originated. You, and not loboto.me, are entirely responsible for all Content that you upload, post, email, transmit or otherwise make available through loboto.me. loboto.me does not control the Content posted and does not guarantee the accuracy or integrity of such Content. 

	loboto.me will not be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content. loboto.me will not be liable for any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available on loboto.me. loboto.me assumes no responsibility for the timeliness, deletion, miss-delivery or failure to store any User content, communication or personal settings. 

	You agree to indemnify and hold loboto.me, its officers and employees exempt from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, transmit, post or otherwise make available through loboto.me. 

	Choice of Law and Forum 

	The Terms of Service and the relationship between you and loboto.me shall be governed by the laws of the Commonwealth of Puerto Rico without regard to its conflict of law provisions. You and loboto.me agree to submit to the personal and exclusive jurisdiction of the courts located within San Juan, Puerto Rico. 

	Statute of Limitations 

	You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred. 

	Improper Use of Data 

	Data mining, "scrapping", and/or unauthorized crawling of loboto.me is prohibited unless explicit permission is given. Using any data from loboto.me (including data from images and/or users) that is not available through authorized channels is also prohibitied unless explicit permission is given. 
<br /><br />
<p>
	Mailing Address:<br />
	<br />
	Attention: Andrés Bonilla<br />
	loboto.me<br />
	Villas del Rio calle 16, apt. c17<br />
	Bayamón, Puerto Rico 00959<br />
</p>
</div>